*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #beb1b1;
}

 

.container
{
    background-color: white;
    padding: 40px;
    margin: 30px auto 0;
    width: 100vh;
    border-top:3px solid purple;
    box-shadow: 2px 2px 9px 2px rgba(0,0,0,0.5);
     
}
.container1
{
    background-color: white;
    padding: 20px;
    margin: 30px auto 2px;
    width: 80vh;
    border-top:3px solid purple;
    box-shadow: 2px 2px 9px 2px rgba(0,0,0,0.5);
}
.container h2{
    font-size: 30px;
    line-height: 20px;
    margin: 10px  30px 30px;
    text-align: center;
}
.container1 h2{
    font-size: 30px;
    line-height: 20px;
    margin: 10px  30px 30px;
    text-align: center;
}

.input-name{
   margin: 20px auto;

   position: relative;
    width: 90%;
}
.input-name1{
    margin: 20px auto;
    position: relative;
     width: 40%;
 }
 .lock ,.fa-user{
    padding: 8px 8px 2px 8px;
 }
 .email
 {
    font-size: x-small;
    padding: 5px 5px 2px 7px;
    

 }
 .name{
    width: 45%;
    padding: 5px 0 5px 50px;
    outline: none;
    border: 1px solid #cccccc;

 }
.input-name span
 {
    margin-left:41px;
 }

 .text-name
 {
    width: 100%;
    padding: 5px 0 5px 50px;
    outline: none;
    border: 1px solid #cccccc;
    
 }
 .Country
 {
    width: 100%;
    padding: 5px 0 5px 0;
    outline: none;
    border: 1px solid #ebe9e9f1;

 }
 .text-name:hover, .name:hover{
    background-color: #fafafa;
    border:1px solid blue;
 }
 .button
 {
    padding: 8px 8px 8px 8px;
    align-items: center;
    
    background-color:blueviolet;
    border-color: black;
    width: 100%;
}
.button:hover
{
    box-shadow: 0px 0px 5px rgb(71, 14, 136);
    border-radius: 5px;
 }
 
 .input-name i
 {
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
 }
 .already_account
 {
   
   text-align: center;
}
#togglePassword{
   position: relative;
}

.input-name fa-eye {
   position: absolute;
   right: 10px;
   cursor: pointer;
}
#checkbox{
   
   margin:7px 7px 5px 0;
   font-size: 1px;
   color: rgb(42, 14, 14);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
